/*!
Template :	AppsLand @by Softnio
Preset   :	Default
Version	 :	1.3.1
Updated	 :	10.22.2018
*/

.active .steps h4, .heading span, .box-icon .fa, .box-icon .ti, .video-play, .video-play:hover, .video-play:focus, .owl-theme .owl-nav [class*=owl-], .single-features .ti, .single-features .fa, .contact-form h3, .contact-info h6 .fa, .footer-navigation li a:hover, .social-list li a:hover, .owl-theme .owl-nav [class*="owl-"]:hover, .footer-links li a:hover {
	color: #1F65DB;
}

.pricing-bottom .ti-check {
	color: #00d578;
}

.pricing-bottom .ti-close {
	color: #de0000;
}

.owl-theme .owl-dots .owl-dot span:after, .affix .navbar-default .navbar-toggle, .affix .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	border-color: #1F65DB;
}

.primary-bg {
	background: #1F65DB;
}

.secondary-bg {
	background: #ED355B;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .affix .navbar-default .navbar-toggle, .affix .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #1F65DB;
}

.button {
	background: #FA3821;
}

.button:hover {
	background: #1F65DB;
}

.header-texts .button {
	background: #FA3821;
	color: #fff;
}

.header-texts .button:hover {
	background: #fff;
	color: #FA3821;
}

.button.button-transparent {
	background: transparent;
}

.button.button-transparent:hover {
	background: #fff;
	color: #FA3821;
	border-color: #fff;
}

.navbar-default .navbar-nav>li>a.button, .navbar-default .navbar-nav>li>a.button:focus {
	border: 2px solid #FA3821;
	background: #FA3821;
}

.navbar-default .navbar-nav>li>a.button:hover {
	color: #FA3821;
}

.affix .navbar-default .navbar-nav>li>a.button:hover, .affix .navbar-default .navbar-nav>li.active>a.button, .affix .navbar-default .navbar-nav>li.active>a.button:focus {
	color: #FA3821;
	border-color: #FA3821;
}

.gradiant-background, .box-icon, .team-member .team-photo:after {
	background-image: -o-linear-gradient(157deg, #ED355B 0%, #1F65DB 100%);
	background-image: linear-gradient(293deg, #ED355B 0%, #1F65DB 100%);
}

.meta-heading {
	color: #1F65DB;
	margin-bottom: 5px;
}

.feature-col .icon {
	background: #F2F7FF;
	color: #1F65DB;
}

.button.alt {
	background: #fff;
	color: #1F65DB;
}

.button.alt:hover {
	background: #1F65DB;
	color: #fff;
}

.button.light {
	background: #F2F7FF;
	color: #1F65DB;
}

.button.light:hover {
	background: #00deec;
	color: #fff;
}

.bg-circle .small, .bg-circle .big {
	background: #F2F7FF;
}

.bg-circle .big:before {
	background-image: -o-linear-gradient(157deg, #fff 0%, #ED355B 100%);
	background-image: linear-gradient(157deg, #fff 0%, #ED355B 100%);
}

.bg-circle .big:after {
	background-image: -o-linear-gradient(157deg, #fff 0%, #1F65DB 100%);
	background-image: linear-gradient(157deg, #fff 0%, #1F65DB 100%);
}

.pricing-box.alt h5 {
	color: #1F65DB;
}

@media only screen and (max-width: 991px) {
	.navbar-default .in .navbar-nav>li>a:hover, .navbar-default .in .navbar-nav>li>a:focus, .affix .navbar-default .navbar-nav>li>a:hover, .affix .navbar-default .navbar-nav>li>a:focus, .affix .navbar-default .navbar-nav>.active>a, .affix .navbar-default .navbar-nav>.active>a:hover, .affix .navbar-default .navbar-nav>.active>a:focus {
		background: #1F65DB;
	}
}

.theme-pro .section.gradiant-background {
	background: #ecf4fd;
}

.header-texts {
	padding-top: 25px !important;
}

.header-texts h1 {
	font-size: 10em !important;
}

.header-texts h2 {
	font-size: 3em !important;
	margin-bottom: 60px;
}

.header-texts b {
	max-width: 1070px;
}

.greek-head {
	position: absolute;
	right: 210px;
	top: 130px;
}

.box-icon {
	background: initial !important;
	height: 100px !important;
	width: 100px !important;
	margin-bottom: 25px;
}

.box {
	padding-bottom: 15px;
}

.box h4 {
	font-size: 22px !important;
	padding-top: 0 !important;
	font-weight: 600;
}

.box p {
	font-weight: normal;
}

.box p, h4 {
	margin: 5px 20px 0 20px;
}

.txt-entry .button {
	display: block;
	max-width: 300px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.txt-entry p {
	font-size: 18px !important;
	font-weight: normal;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-box {
	position: relative;
	background-color: transparent;
	width: 230px;
	height: 230px;
	/* border: 1px solid #f1f1f1; */
	perspective: 1000px;
	/* Remove this if you don't want the 3D effect */
	margin-bottom: 30px;
}

/* This container is needed to position the front and back side */

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	/* margin: 15px; */
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-box-front, .flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	backface-visibility: hidden;
}

/* Style the front side */

.flip-box-front {
	background-color: #fff;
	color: black;
}

/* Style the back side */

.flip-box-back {
	background-color: #f90334;
	color: white;
	transform: rotateY(180deg);
}

.flip-box-front__icon {
	height: 100px;
	width: 100px;
	/* margin-top: 25px; */
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: 20px; */
}

.flip-box-front__icon .ti {
	font-size: 6em;
	color: #ED355B;
}

.flip-box-front__title {
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
	font-size: 1.5em;
	font-weight: 500;
	color: #666666;
}

.flip-box-back__title {
	/* margin: 15px 0 10px 0; */
	padding-left: 15px;
	padding-right: 15px;
	font-size: 1.2em;
	font-weight: 600;
	color: white;
}

.flip-box-back__text {
	font-weight: 400;
	padding: 0 15px 0 15px;
	margin-bottom: 10px;
	font-size: 0.9em;
}

.flip-box-back .button {
	color: #666666;
	background: white;
	width: 200px;
	line-height: 2.5em;
	padding: 0 15px 0 15px;
}

.flip-box-back .button:hover {
	color: white;
	background: #1F65DB;
}

.features-content {
	/* background-color: #00deec; */
	margin: 0px 0px 60px 0px;
}

.features-content .row {
	justify-content: space-evenly;
	margin: initial;
	padding: initial;
}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: initial;
	margin-top: 15px;
	margin-bottom: 30px !important;
}

.section-head {
	padding-top: 40px;
	padding-bottom: 20px;
}

.flip-box-front {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.flip-box-back {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.section-head{
	padding: initial;
	margin: 40px 0 30px 0;
}

.section-head h2 {
	font-size: 2.3em;
}

.section-head h2 span {
	color: #FA3821;
}

.button-holder {
	margin-bottom: 30px;
}

.heading {
	margin-bottom: 20px !important;
}

.news-image {
	position:relative;
}

.quote-icon {
	width: 40px !important;
	margin-bottom: 20px !important;
}

.quotes h6 {
	font-size: 1.3em;
	margin-bottom: 20px;
	color: #FA3821;
}

.quotes h6:hover {
	color: #1F65DB;
}

.quotes blockquote {
	font-size: 0.9em;
	font-weight: 400;
	margin-bottom: 20px;
}